/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span.required,
span.error {
    color: red;
}

body {
    background-color: #efefef;
}

header {
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

a.search-button {
    margin-bottom: 10px;
}
.grid-view .summary {
    padding-bottom: 10px;
}
input[type="text"] {
   /* width: auto;*/
}