/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span.required,
span.error {
    color: red;
}

body {
    background-color: #efefef;
}

header {
    margin-bottom: 20px;
}