/* ==========================================================================
   Author's custom styles
   ========================================================================== */

span.required,
span.error {
    color: red;
}

body {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2px 0;
}

header {
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

a.search-button {
    margin-bottom: 10px;
}

.grid-view .summary {
    padding-bottom: 10px;
}

input[type="text"] {
    /* width: auto;*/
}

div.btn-group[data-toggle="buttons-checkbox"] {
    margin-bottom: 10px;
}

.clear:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    display: inline-block;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

.label-width {
    min-width: 300px;
    padding: 0;
    margin-right: 20px;
}

.central-header {
    width: 300px;
    margin: 0 auto;
}