body {
    margin: 0px;
    padding: 0px;
    background-color: #F9F9F9;
}

h1{
    margin: 10px 0px 3px 10px;
    font-family: Comic Sans MS;
    color: #BA4002;
    text-shadow: 1px 1px 0px black, 0 0 5px black;
}

#nav {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: #FF4646;
}

#years {
    margin: 0 auto;
    width: 256px;
    border: 2px solid;
    border-collapse: collapse;
    font-size: 19px;
}

#zag_sem {
    border-bottom: 2px solid #F00;
}

#years tr {
    border: 1px solid;
}

#years th {
    border-right: 2px solid;
}

#years td {
    text-align: center;
    width: 84px;
}

.rozklad {
    border: 4px solid;
    margin: 10px;
    border-collapse: collapse;
}

.rozklad th {
    border: 4px solid;
}

.rozklad td {
    border: 2px solid;
}

#tr_begin {
    border-top: 4px solid;
}

.tr_end {
    border-bottom: 4px solid;
}

.rozklad #border_lft_rht {
    border: none;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
}

.rozklad #bd_left {
    border: none;
    border-left: 2px solid;
    color: #F0F0F0;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-family: Comic Sans MS;
    font-size: 14px;
    height: 28px;
}

.rozklad #bd_right {
    border: none;
    border-right: 2px solid;
    width: 50px;
}

.rozklad .subjects {
    width: 303px;
    font-family: Georgia;
    font-size: 16px;
    height: 24px;
}

#audiens {
    width: 50px;
}

.rozklad input{
    color: #FFF;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
    font-family: Comic Sans MS;
}

.rozklad .number {
    width: 30px;
    text-align: center;
}

#buttons_table {
    width: 612px;
    position: relative;
    margin: 0 auto;
    display: table;
}

#buttons_table div {
    float: left;
    background-color: #CB5151;
    width: 130px;
    margin: 3px 3px 0 3px;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    padding: 0 8px;
}

#buttons_table div:hover {
    background-color: #ee5700;
    cursor: pointer;
    color: #FFF;
}

.autocomplete-suggestions::after {
    clear: both;
    display: table;
    content: ' ';
    height: 40px;
}

.autocomplete-suggestions {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 6px 0 0 6px; /* IE6 fix: */
    _background: none;
    _margin: 1px 0 0 0;
    max-height: 50px;
    _height: 50px;
}

.autocomplete-suggestion {
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    text-align: left;
    overflow: auto;
    margin: -6px 6px 6px -6px; /* IE6 specific: */
    _margin: 0;
    _overflow-x: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestion div {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-suggestion strong {
    font-weight: normal;
    color: #3399FF;
}

#button_save {
    background: rgb(100, 100, 100) radial-gradient(circle at 0 0, rgba(255, 255, 255, .65), rgba(255, 255, 255, .35));
    width: 100px;
    height: 28px;
    position: fixed;
    right: 10px;
    top: 30px;
    color: #d52d00;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    z-index: 2;
    box-shadow: inset rgba(0, 0, 0, .5) -3px -3px 8px, inset rgba(255, 255, 255, .9) 3px 3px 8px, rgba(0, 0, 0, .8) 3px 3px 8px -3px;
}

#button_save:hover {
    box-shadow: inset rgba(0, 0, 0, .5) -1px -3px 0px, inset rgba(255, 255, 255, .9) 0px -2px 0px, rgba(0, 0, 0, .8) 0px -4px 5px -2px;
}

.rozklad input {
    background-color: #C3C7C2;
}

#header {
    top: 0px;
    display: block;
    position: fixed;
    background: #fff;
    overflow: hidden;
    z-index: 1;
    margin-left: 10px;
    border: 1px solid #ccc;
}

#header div {
    display: table-cell;
    padding: 3px;
    border: 2px solid #ccc;
    border-collapse: collapse;
    font-weight: bold;
}

#clear{
    position: fixed;
    top: 34px;
    right: 117px;
}

.button_help{
    margin: 10px 65px 0px 55px;
}

#wrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#help_block{
    width: 1020px;
    height: 550px;
    margin: 50px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    border-radius: 10px;
}

#teacher_block{
    overflow: auto;
    height: 550px;
}

#audience_block{
    overflow: auto;
    height: 550px;
}

#subject_block{
    overflow: auto;
    height: 550px;
}

.close_button{
    background-color: rgba(61, 61, 61, 0.8);
    border: 2px solid #ccc;
    height: 20px;
    line-height: 14px;
    position: absolute;
    right: -10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close_button:hover{
    background-color: #c0392b;
}

.close_button::before{
    color: rgba(255, 255, 255, 0.9);
    content: "Ñ…";
    font-family: Arial;
    font-size: 21px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.table_teacher {
    border: 2px solid;
    margin: 10px;
    border-collapse: collapse;
}

.table_teacher th {
    border: 2px solid;
}

.table_teacher #begin_para{
    font-weight: normal;
    border-right: 1px solid;
}

.table_teacher #para{
    font-weight: normal;
    border-left: 1px solid;
    border-right: 1px solid;
}

.table_teacher td {
    border: 1px solid;
}

.table_teacher #begin_day{
    border-left: 2px solid;
}

.table_audience {
    border: 2px solid;
    margin: 10px;
    border-collapse: collapse;
}

.table_audience th {
    border: 2px solid;
}

.table_audience #begin_para{
    font-weight: normal;
    border-right: 1px solid;
}

.table_audience #para{
    font-weight: normal;
    border-left: 1px solid;
    border-right: 1px solid;
}

.table_audience td {
    border: 1px solid;
}

.table_audience #begin_day{
    border-left: 2px solid;
}

.table_type{
    color: #FF0000;
    margin-bottom: 0px;
}

#button_help_hours{
    position: fixed;
    top: 63px;
    right: 0px;
}

#subject_block table{
    border: 2px solid;
    margin: 10px;
    border-collapse: collapse;
}

#subject_block table th{
    border: 2px solid;
}

#subject_block table td{
    border: 1px solid;
}

#subject_block table .num{
    text-align: center;
}

.type_table{
    text-align: center;
    color: #CB5151;
    text-shadow: 0px 0px 0px black, 0 0 2px rgb(161, 32, 32);
}